extends layout 

block content 
    h1= title 
    ul 
        each alcohol in alcohol_list 
            li 
                a(href=alcohol.url) #{alcohol.name }  (#{alcohol.category.name})
        
        else 
            p I regret to inform you that, at present, this is a dry site. 
            p That is to say, there is no alcohol here, my friend.
            p Please amend that by visiting the create links.
            p #[em "Without beer things do not seem to go as well" - Brother Hyacinth Epp, Capuchin Monastery Kansas, 1902]