extends layout 

block content 
    h1= title 
    ul 
        each category in category_list
            li 
                a(href=category.url) #{category.name}
                if category.description 
                    p #{category.description}
        
        else 
            p I regret to inform you that, at present, you seem to have no categories. 
            p With no categories, there can be no alcohol, and that is a sad thing indeed.
            p Please amend that by visiting the create new category link.
            p #[em "Without beer things do not seem to go as well" - Brother Hyacinth Epp, Capuchin Monastery KAnsas, 1902]