extends layout 

block content 
    h1= title 
    ul 
        each location in location_list
            li 
                a(href=location.url) #{location.name}
                if location.description 
                    p #{location.description}
        
        else 
            p I regret to inform you that, at present, you seem to have no bar. 
            p With no bar, there is no alcohol, and that is a sad thing indeed.
            p Please amend that by visiting the create new location link.
            p #[em "Without beer things do not seem to go as well" - Brother Hyacinth Epp, Capuchin Monastery KAnsas, 1902]